.noScrollbar {
  scrollbar-width: none; /* Firefox */
}

.noScrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.sidebarMobile {
  @media (max-width: em(800)) {
    display: none;
  }
}

.funMobile {
  display: none;
  @media (max-width: em(800)) {
    display: block;
  }
}

.modelNavMobile {
  @media (max-width: em(800)) {
    display: none;
  }
}
.modelIconMobile {
  display: none;
  @media (max-width: em(800)) {
    display: flex;
  }
}

.drawerTabTextMobile {
  @media (max-width: em(400)) {
    display: none;
  }
}
